input {
    display: none;
}

label {
    display: inline-block;
    color: gray;
    padding: 15px 25px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    transition: all .3s ease-out 0.1s;
    cursor: pointer;
}

label:hover {
    color: red;
}

input:checked+label {
    color: red;
}

.content {
    border: 1px solid #ccc;
    backface-visibility: hidden;
    overflow: hidden;
}

.content-item {
    display: none;
    padding: 30px;
}

#tab-1:checked~.content #content-1,
#tab-2:checked~.content #content-2,
#tab-3:checked~.content #content-3,
#tab-4:checked~.content #content-4 {
    display: block;
}
