.container {
  width: 800px;
  margin: auto;
}

h1 {
  text-align: center;
}

.tab-list {
  text-align: center;
}

.tab-list-item {
  display: inline-block;
  color: gray;
  padding: 15px 25px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.tab-list-active {
  color: red;
}

.tab-content {
  padding: 50px;
  border: 2px solid #ccc;
  border-radius: 7px;
}

.square {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 2px solid #666;
  border-radius: 10px;
  position: relative;
}

.square span {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  opacity: 0.5;
}

.square.small {
  width: 100px;
  height: 100px;
}

.square.green {
  background: #00A653;
}

.square.pink {
  background: #FE7FC3;
}

.square.blue {
  background: #046DFF;
}
